<div fxLayout="row" class="m-2">
    <div fxLayout="column" class="w-100 h-100 hospital-button rounded" fxLayoutAlign="start" fxLayoutGap="10px">
        <div fxLayout="row" fxFlex="10" class=" w-100 h-100" fxLayoutAlign="center center">
            <div class="welcome-msg" fxLayout="row" fxFlex="50">
                Add Labtests
            </div>
        </div>
        <mat-progress-bar *ngIf="showProgressBar"></mat-progress-bar>
        <form [formGroup]="insuranceForm">
            <div fxLayout="column" fxLayoutAlign="start" class="p-1" fxLayoutGap="10px">
                <div class="md-form mt-0 w-100 mr-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Insurance Id</mat-label>
                        <input matInput #input placeholder="Enter Insurance Id" formControlName="insurance_id">
                    </mat-form-field>
                </div>
                <div class="md-form mt-0 w-100 mr-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Company</mat-label>
                        <input matInput #input placeholder="Enter Company" formControlName="company">
                    </mat-form-field>
                </div>
                <div class="md-form mt-0 w-100">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Select Group Number</mat-label>
                        <mat-select formControlName="group_number">
                            <mat-option *ngFor="let policy of insurance_policies; let i=index" value="{{i}}">
                                {{policy?.group_number | uppercase }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="addInsurance()">
            <button mat-raised-button>Add Insurance</button>
        </div>

    </div>
</div>