.book-container{
    border-radius: 15px;
    padding:10px;
}
.appointment{
    // color: #2F90A1;
    font-size: 21px;
    font-weight: 500;
}
.book-appointment{
    // color:#04a5f6;
    white-space:normal;
    font-size:medium;
}
.back{
    font-size:21px;
    font-weight:500;
}

