<div class="w-100 h-100 login-component">
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100 h-100">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="login-container">
            <div class="divider" fxFlex="50">
                <div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
                    <div fxLayoutGap="10px" class="font-weight-bold">
                        <h2>Secure Hospital System</h2>
                    </div>
                    <div>
                        <button mat-raised-button class="hospital-button fadeInDown" (click)="showLogin=!showLogin"
                            *ngIf="!showLogin" fxlayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"><span>Login</span>
                                <mat-icon>arrow_right_alt</mat-icon>
                            </div>
                        </button>
                    </div>
                    <div *ngIf="!verifyAccount">
                        <button mat-raised-button class="hospital-button fadeInDown" (click)="registerNewUser()">
                            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"><span>Register</span>
                                <mat-icon>arrow_right_alt</mat-icon>
                            </div>
                        </button>
                    </div>
                    <form [formGroup]="loginForm" *ngIf="showLogin" class="w-75 fadeInDown">
                        <div class="form-group">
                            <div fxLayout="column" fxLayoutGap="10px">
                                <ng-container *ngIf="!verifyAccount">
                                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </div>
                                    <div fxLayout="column" fxLayoutGap="5px">
                                        <label for="user-name" class="form-label">Username: </label>
                                        <input id="user-name" type="text" formControlName="userName"
                                            class="form-control form-control" placeholder="Enter Username">
                                    </div>
                                    <div fxLayout="column" fxLayoutGap="5px">
                                        <label for="password" class="form-label">Password: </label>
                                        <input id="password" type="text" formControlName="password"
                                            class="form-control form-control" placeholder="Enter Password"
                                            type="password">
                                    </div>
                                </ng-container>
                                    <div fxLayout="column" fxLayoutGap="5px" *ngIf="verifyAccount">
                                        <label for="password" class="form-label">Verify Account: </label>
                                        <input id="password" type="text" formControlName="verifyAccount"
                                            class="form-control form-control" placeholder="Enter Password">
                                    </div>
                                    <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}" *ngIf="!verifyAccount"></re-captcha>

                                <button mat-raised-button class="hospital-button w-50" (click)="continueToLogin()"
                                    *ngIf="!verifyAccount" [disabled]="!loginForm.valid">
                                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"><span>Continue
                                            to Login</span>
                                        <mat-icon>arrow_right_alt</mat-icon>
                                    </div>
                                </button>
                                <button mat-raised-button class="hospital-button w-50" (click)="validateOtp()"
                                    *ngIf="verifyAccount">
                                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center"><span>Verify
                                            your account</span>
                                        <!-- <mat-icon>arrow_right_alt</mat-icon> -->
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="divider" fxFlex="50" class="right-pane w-100 h-100">
            </div>
        </div>
    </div>
</div>