.hospital-button{
    background-image: linear-gradient(to right bottom, #40abe173, #9dbacb3b);
    overflow: scroll;
}
.patient-function{
    font-size:16px;
    font-weight:500;
}
.profile-icon{
    font-size:35px;
    color:#cae5f2;
    margin-right:10px;
}
.hightlight-content{
    margin-left:40%;
}
.book-appointment{
    color:#04a5f6;
}
.welcome-msg{
    font-size:25px;
    margin-left: 20%;
}
