.profile-icon{
    // color: skyblue;
    font-size: 50px;
    float: right;
    height: 15%;
    width: 5%;
    color:#689F35;
}
.hospital-image{
    background-image: linear-gradient(to right bottom, #40abe173, #9dbacb3b);
}
.top-section{
    // border-bottom:1px solid gray
    height:20%;
}